__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

.venv/
venv/
env/
node_modules/

*.log
db.sqlite3
/staticfiles/
media/
seed_media/

.DS_Store
.idea/
.vscode/
*.swp

dist/
build/
*.zip
*.tar
*.tar.gz
*.tgz
*.bak

__pycache__/
*.pyc
.env
.env.*
*.sqlite3
db.sqlite3
media/
.DS_Store
.vscode/
.idea/
!seed_media/
!seed_media/**
